{% extends './panel/page.html.twig' %}

{% block content %}
    <div class="m-4">
        <a href="{{ path('app_flats_new') }}" class="btn btn-primary mb-3">Add new flat</a><br>
        Currently you don't have any flats - start by adding a new one!
    </div>

{% endblock %}