{% extends './panel/page.html.twig' %}

{% block content %}
    {% if app.user.roles[0] == 'ROLE_LANDLORD' %}
        {% include './panel/widgets/landlord/top_boxes.html.twig' %}
    {% endif %}
    <!-- Widgets Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            {% include './panel/widgets/messages.html.twig' %}
{#            {% include './panel/widgets/calendar.html.twig' %}#}
            {% include './panel/widgets/todo_list.html.twig' %}
        </div>
    </div>
    <!-- Widgets End -->

{% endblock %}