{% extends './panel/page.html.twig' %}

{% block content %}
    {% if app.user.roles[0] == 'ROLE_LANDLORD' %}
        {% include './panel/widgets/landlord/top_boxes.html.twig' %}
    {% endif %}
    <!-- Widgets Start -->
    <div class="container-fluid px-4">
        {% if app.user.roles[0] == 'ROLE_TENANT' %}
            <div class="row g-4 my-3">
                {% if app.user.getFlatId %}
                    {% include './panel/widgets/tenant/flat.html.twig' %}
                {% else %}
                    <h4>Currently you are not assigned to any flat — you can enter invitation code in your profile</h4>
                {% endif %}
                {% include './panel/widgets/messages.html.twig' %}
                {% include './panel/widgets/calendar.html.twig' %}
                {% include './panel/widgets/todo_list.html.twig' %}
            </div>
        {% endif %}
        {% if app.user.roles[0] == 'ROLE_LANDLORD' %}
            <div class="row g-4 my-3">
                {% include './panel/widgets/messages.html.twig' %}
                {% include './panel/widgets/todo_list.html.twig' %}
                {% include './panel/widgets/calendar.html.twig' %}
            </div>
        {% endif %}
    </div>
    <!-- Widgets End -->

{% endblock %}